.btn {
    border: none;
    background: linear-gradient(lightgray, gray);
    font-weight: bold;
    font-size: 3rem;
}

.btn:hover {
    opacity: 0.9;
}

.btn-color--orange {
    background: linear-gradient(orange, darkorange);
}